<form name="filterForm" id="filterForm" class="form-inline">
    <select class="size">
      <option value="">All Sizes</option>
      <option value="375">375 ml</option>
      <option value="750">750 ml</option>
      <option value="1500">1.5 l</option>
    </select>

    <select class="type">
      <option value="">All Varietals</option>
      <option value="chardonnay">Chardonnay</option>
      <option value="cabernet">Cabernet Savignon</option>
      <option value="pinotnoir">Pinot Noir</option>
      <option value="zinfandel">Zinfandel</option>
    </select>
</form>