<form name="signUpForm" id="signUpForm">
  <label for="username">username:</label>
  <input type="text" name="username" id="username" placeholder="username" value="" autocapitalize="off" autocorrect="off" class="username">

  <label for="password">password:</label>
  <input type="password" placeholder="password" name="password" required="true"  class="password"/>
  <div>
    <button id="signUpBtn" class="btn">SignUp</button>
    <button id="loginBtn" class="btn">Login</button>
    <button id="statusBtn" class="btn">User Status</button>
    <button id="logoutBtn" class="btn">Logout</button>
  </div>
</form>