<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.stackmob.mywine"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>myWine HTML5</name>

    <description>
        Drink up Everyone!
    </description>

    <author href="https://www.stackmob.com" email="sid@stackmob.com">
        Sid Maestre
    </author>

</widget>